#h1 {
    margin-top: 10px;
    margin-left: 570px;
    color: steelblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-bottom: 1px solid gray;
    width: 120px;
}

#h1:hover {
    font-size: 44px;
    color: orangered;
}